
{% extends "base.html" %}
{% load custom_filters %}
{% load humanize %}
{% block content %}
{% load mathfilters %}

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-6">
    <div>
        <form method="get" action="{% url 'portfolio:create-position' %}">
            {% csrf_token %}
            <button type="submit" class="text-white hover:bg-gray-700 bg-indigo-600 rounded-md p-2 font-medium">Add Position</button>
        </form>
    </div>
    {% if individual or roth or retirement %}
    <div class="flex flex-col sm:flex-row gap-10 justify-stretch">
        <div class="flex flex-col gap-10 flex-grow">
            {% if individual %}
                {% include "./stocklist.html" with stocks=individual type="INDIVIDUAL" name="Individual Positions"%}
            {% endif %}

            {% if retirement %}
                {% include "./stocklist.html" with stocks=retirement type="401K" name="401K Positions"%}
            {% endif %}

            {% if roth %}
                {% include "./stocklist.html" with stocks=roth type="ROTH" name="Roth IRA Positions"%}
            {% endif %}
        </div>
        <div>
            <div class="flex flex-col gap-10">
                <div>
                    <p class="mt-2 text-2xl font-bold text-white sm:text-3xl">Porfolio Value : ${{total_prices|get_item:"current_value"|intcomma}}</p>
                    
                    {% if total_prices|get_item:"change" > 0%}
                    <p class="mt-2 text-2xl font-bold text-green-400 sm:text-3xl">Overall Growth: +${{total_prices|get_item:"change"|intcomma}}</p>
                    {% else %}
                    <p class="mt-2 text-2xl font-bold text-red-400 sm:text-3xl">Overall Growth ($): -${{total_prices|get_item:"change"|abs|intcomma}}</p>
                    {% endif %}
                    
                    {% if total_prices|get_item:"percentage_change" > 0%}
                        <p class="mt-2 text-2xl font-bold text-green-400 sm:text-3xl">Overall Growth: +{{total_prices|get_item:"percentage_change"}}%</p>
                    {% else %}
                    <p class="mt-2 text-2xl font-bold text-red-400 sm:text-3xl">Overall Growth: {{total_prices|get_item:"percentage_change"}}%</p>
                    {% endif %}

                    {% if total_prices|get_item:"daily_change" > 0%}
                    <p class="mt-2 text-2xl font-bold text-green-400 sm:text-3xl">Daily Growth: +${{total_prices|get_item:"daily_change"|intcomma}}</p>
                    {% else %}
                    <p class="mt-2 text-2xl font-bold text-red-400 sm:text-3xl">Daily Growth: -${{total_prices|get_item:"daily_change"|abs|intcomma}}</p>
                    {% endif %}

                    {% if total_prices|get_item:"daily_percentage_change" > 0%}
                    <p class="mt-2 text-2xl font-bold text-green-400 sm:text-3xl">Daily Growth: +{{total_prices|get_item:"daily_percentage_change"}}%</p>
                    {% else %}
                    <p class="mt-2 text-2xl font-bold text-red-400 sm:text-3xl">Daily Growth: {{total_prices|get_item:"daily_percentage_change"}}%</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="flex flex-col items-center mt-6">
        <span class="text-sm text-gray-400 font-medium">No Positions Found...</span>
    </div>
    {% endif %}

</div>

{% endblock %}

