
{% extends "base.html" %}
{% load custom_filters %}
{% block content %}

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-6">
    <div>
        <form method="get" action="{% url 'portfolio:createposition' %}">
            {% csrf_token %}
            <button type="submit" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md p-2 mt-6 font-medium">Add Position</button>
        </form>
    </div>
    {% if stocks %}
    <div class="grid sm:grid-cols-2 gap-10">
        <div>
            <ul role="list" class="divide-y">
                {% for stock in stocks %}
                <li class="justify-between gap-x-6 py-5">
                    <div class="gap-x-4 p-2 hover:border-2 border-0 border-white rounded-lg hover:cursor-pointer ">
                        <div class="min-w-0 grid sm:grid-cols-4">
                            <div class="font-bold leading-6 text-gray-400">
                                {{stock.ticker}}
                            </div>
                            <div class="font-bold leading-6 text-gray-400">
                                {{stock.quantity}} shares
                            </div>
                            <div class="font-bold leading-6 text-gray-400">
                                ${{stock.cost_basis}}/ea
                            </div>

                            {% if total_ticker_prices|get_item:stock.ticker|get_item:"percentage_change" > 0 %}
                            <div class="font-bold leading-6 text-green-400">
                                +{{total_ticker_prices|get_item:stock.ticker|get_item:"percentage_change"}}%
                            </div>
                            {% else %}
                            <div class="font-bold leading-6 text-red-600">
                                -{{total_ticker_prices|get_item:stock.ticker|get_item:"percentage_change"}}%
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <p class="mt-2 text-3xl font-bold text-gray-400 sm:text-4xl snap-center">Porfolio Value : ${{total_prices|get_item:"current_value"}}</p>
            <p class="mt-2 text-3xl font-bold text-gray-400 sm:text-4xl snap-center">Porfolio Cost : ${{total_prices|get_item:"total_cost"}}</p>
            {% if total_prices|get_item:"percentage_change" > 0%}
                <p class="mt-2 text-3xl font-bold text-green-400 sm:text-4xl snap-center">Portfolio Growth : +{{total_prices|get_item:"percentage_change"}}%</p>
            {% else %}
            <p class="mt-2 text-3xl font-bold text-red-600 sm:text-4xl snap-center">Portfolio Growth : -{{total_prices|get_item:"percentage_change"}}%</p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="flex flex-col items-center mt-6">
        <span class="text-sm text-gray-400 font-medium">No Positions Found...</span>
    </div>
    {% endif %}

</div>

{% endblock %}

