{% load custom_filters %}
{% load humanize %}

<div>
    <div class = "flex flex-col sm:flex-row py-5 justify-between p-2">
        <div>
            <span class="text-white font-bold underline">{{name}}</span>
            {% if total_type_prices|get_item:"daily_percentage_change"|get_item:type > 0 %}
            <span class="text-green-400">(+{{total_type_prices|get_item:"daily_percentage_change"|get_item:type}}%)</span>
            {% else %}
            <span class="text-red-400">(-{{total_type_prices|get_item:"daily_percentage_change"|get_item:type}}%)</span>
            {% endif %}
        </div>
        <div class="flex flex-col">
            {% if total_type_prices|get_item:"percentage_change"|get_item:type > 0 %}
            <div class="font-bold text-green-400">
                +{{total_type_prices|get_item:"percentage_change"|get_item:type}}%
            </div>
            {% else %}
            <div class="font-bold text-red-400">
                -{{total_type_prices|get_item:"percentage_change"|get_item:type}}%
            </div>
            {% endif %}

            {% if total_type_prices|get_item:"change"|get_item:type > 0 %}
            <div class="text-green-400">
                (+${{total_type_prices|get_item:"change"|get_item:type|intcomma}})
            </div>
            {% else %}
            <div class="text-red-400">
                (-${{total_type_prices|get_item:"change"|get_item:type|intcomma}})
            </div>
            {% endif %}
        </div>
    </div>
    <ul role="list">
        {% for stock in stocks %}
        <li class=>
            <div class="p-2 rounded-lg">
                <div class="flex flex-col sm:flex-row justify-between">
                    <div class="flex flex-col">
                        <div>
                            <span class="font-bold text-white">{{stock.ticker}}</span>
                            {% if total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"daily_percentage_change" > 0 %}
                            <span class="text-green-400">(+{{total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"daily_percentage_change"}}%)</span>
                            {% else %}
                            <span class="text-red-400">(-{{total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"daily_percentage_change"}}%)</span>
                            {% endif %}
                        </div>
                        <div class="text-gray-400">
                            {{stock.quantity}} shares @ ${{stock.cost_basis}}/ea
                        </div>
                    </div>
                    <div class="flex flex-col">
                        {% if total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"percentage_change" > 0 %}
                        <div class="font-bold text-green-400">
                            +{{total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"percentage_change"}}%
                        </div>
                        {% else %}
                        <div class="font-bold text-red-400">
                            -{{total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"percentage_change"}}%
                        </div>
                        {% endif %}

                        {% if total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"change" > 0 %}
                        <div class="text-green-400">
                            (+${{total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"change"|intcomma}})
                        </div>
                        {% else %}
                        <div class="text-red-400">
                            (-${{total_ticker_prices|get_item:stock.ticker|get_item:stock.type|get_item:"change"|intcomma}})
                        </div>
                        {% endif %}
                    </div>  
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div>
        <form method="get" action="{% url 'portfolio:positions' type %}">
            {% csrf_token %}
            <button type="submit" class="text-white hover:bg-gray-700 bg-indigo-600 rounded-md p-2 font-medium">View/Edit All {{name}}</button>
        </form>
    </div>
</div>