{% extends "base.html" %}
{% block content %}
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 px-6 pt-14 lg:px-8">
    <div class="">
      <div class="">
        <div class="text-center">
          {% if user.is_authenticated %}
          <h1 class="text-gray-300 text-4xl font-bold tracking-tight sm:text-6xl">Hello, </h1>
          <p class="text-gray-300 mt-6 text-lg leading-8">{{user.get_short_name}}</p>
          {% else %}
          <h1 class="text-gray-300 text-4xl font-bold tracking-tight sm:text-6xl">Manage Your Finances</h1>
          <p class="text-gray-300 mt-6 text-lg leading-8">Personalized apps for tracking expenditure, budgeting and portfolio health.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
