{% extends "base.html" %}
{% load custom_filters %}
{% load humanize %}
{% block content %}

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-6">
    <div>
        <form method="get" action="{% url 'budget:createexpense' %}">
            {% csrf_token %}
            <button type="submit" class="text-white hover:bg-gray-700 bg-indigo-600 rounded-md p-2 font-medium">Add Expense</button>
        </form>
    </div>

    {% if page_obj %}
            {% for expense in page_obj %}
                <ul role="list">
                    <li id="{{expense.id}}" class="p-2">
                        <div class="flex flex-col sm:flex-row justify-between">
                            <div class="flex flex-col">
                                <a class="text-white font-bold underline" href="{% url 'budget:updateexpense' expense.id%}">{{expense.description}}</a>
                                <span class="text-gray-400 ">{{expense.date|date:"D d M, Y"}}</span>
                            </div>
                            <div class="flex flex-col sm:items-end">
                                <span class="text-white">${{expense.amount|intcomma}}</span>
                                <span class="text-gray-400 ">{{expense.type}}</span>
                            </div>  
                        </div>
                    </li>
                </ul>
            {% endfor %}  

            <div class="flex flex-col items-center">
                <!-- Help text -->
                <span class="text-sm text-white">
                    Page <span class="font-semibold text-white">{{ page_obj.number }}</span> of <span class="font-semibold text-white">{{ page_obj.paginator.num_pages}}</span>
                </span>
                <div class="inline-flex mt-2 xs:mt-0">
                  <!-- Buttons -->
                  {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="text-white underline rounded-md px-3 py-2 text-sm font-medium">Prev</a>
                  {% endif %}
                  {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="text-white underline rounded-md px-3 py-2 text-sm font-medium">Next</a>
                  {% endif %}
                </div>
              </div>
    {% else %}
        <div class="flex flex-col items-center mt-6">
            <span class="text-sm text-gray-400 font-medium">No Expenses Found...</span>
        </div>
    {% endif %}
</div>

{% endblock %}

