{% extends "base.html" %}
{% load custom_filters %}
{% load humanize %}

{% block content %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm lg:max-w-lg">
        <canvas id="myChart" ></canvas>
    </div>

    <div class="flex justify-center">
        <p class="mt-2 font-bold text-white sm:text-xl">Total Spent This Month : ${{total|intcomma}}</p>
    </div>

    <div class="flex flex-col sm:flex-row gap-10 py-5 justify-center items-center">
        <div>
            <form method="get" action="{% url 'budget:create-expense' %}">
                {% csrf_token %}
                <button type="submit" class="text-white hover:bg-gray-700 bg-indigo-600 rounded-md p-2 font-medium">Add Expense</button>
            </form>
        </div>
        <div>
            <div>
                <form method="get" action="{% url 'budget:expenses' %}">
                    {% csrf_token %}
                    <button type="submit" class="text-white hover:bg-gray-700 bg-indigo-600 rounded-md p-2 font-medium">View/Edit Expenses</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    function drawPieGraph(data, id)
    {   
        var labels = data.Labels; 
        var chartLabel = data.chartLabel; 
        var chartdata = data.chartdata; 

        var ctx = document.getElementById(id).getContext('2d'); 
        var chart = new Chart(ctx, { 
            type: 'pie', 
            data: { 
                labels: labels, 
                datasets: [{ 
                label: chartLabel, 
                backgroundColor: ['rgb(253, 127, 111)', 'rgb(126, 176, 213)', 'rgb(178, 224, 97)', 'rgb(189, 126, 190)', 'rgb(255, 181, 90)', 'rgb(255, 238, 101)', 'rgb(190, 185, 219)'], 
                borderColor: ['rgb(253, 127, 111)', 'rgb(126, 176, 213)', 'rgb(178, 224, 97)', 'rgb(189, 126, 190)', 'rgb(255, 181, 90)', 'rgb(255, 238, 101)', 'rgb(190, 185, 219)'], 
                data: chartdata, 
                }] 
            },
            options: {
                plugins: {
                    title: {
                        display : true,
                        text : "Spending This Month",
                        color: "rgb(255,255,255)",
                        font: {
                            size: 20
                        }

                    },
                    legend: {
                        position: 'left',
                        align: 'center',
                        labels: {
                            color: "rgb(255, 255, 255)",
                            usePointStyle : true
                        }

                    }
                }
            }
        }); 
    }

    function createChart()
    {
        var data = fetch("{% url 'budget:create-chart-data' %}")
        .then((response) => response.json())
        .then((response_data) => drawPieGraph(response_data, "myChart"))
       
        .catch((error) => console.log(error)); 
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        createChart();
    });
</script>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js">

    function toggleMobileMenu() {
        document.getElementById("mobile-menu").classList.toggle("hidden");
        document.getElementById("mobile-menu-closed").classList.toggle("hidden");
        document.getElementById("mobile-menu-opened").classList.toggle("hidden");
    }
   
</script>
{% endblock %}